* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

body {
    background-image: linear-gradient(Black, rgb(10, 1, 0));
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */

header {
    background: black;
    text-align: right;
    padding: .6rem 2rem;
}

header a img {
    height: 40px;
}

main {
    height: 3000px;
}


#hero img {
    width: 100%;
}

.videos {
    overflow-x: scroll;
    display: flex;
    background: black;
    padding-bottom: 0.5rem;
    transition: inherit;
}

.responsive-video {
    position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;
}

.responsive-video iframe {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

.final {
    display: flex;
    justify-content: center;
    width: 100;
    padding: 5rem 0;
    overflow-y: auto;
    background-image: linear-gradient( #000000, #8b0000, #407da2)
}
